<div class="container mt-4">
  <div class="d-flex flex-row justify-content-between mt-4">
    <div>
    <p>Name: <Strong>@<%= comment.name %></Strong></p>
    <p><%= comment.content %></p>
    <hr class="bg-warning w-100">
    </div>
    <div>
    <% if current_user && current_user.profile && (current_user.profile.id == @food_item.seller_id) %> 
      <%= link_to "Delete", [comment.food_item, comment], class: "btn btn-danger", method: :delete, data: { confrim: "Are you sure?"}  %>
    <% end %>
    </div>
    <hr class="bg-warning w-100">
  </div>
</div>