<div class="container">
  <h1>Editing Food Item</h1>

  <%= render 'form', food_item: @food_item %>

  <%= link_to 'Show', @food_item, class: "btn btn-primary" %> 
  <%= link_to 'Back', food_items_path, class: "btn btn-dark" %>
</div>
