<section class="p-5 vh-100">
  <div class="container">
    <div class="jumbotron">
      <h1 class="display-4">cancelled</h1>
      <hr class="my-4">
      <p class="lead">You have cancelled your order, You can come back at any time and continue with your shopping</p>
      <p class="lead">
        <%= link_to "Back to Home", index_path, class: "btn btn-warning" %>
      </p>
    </div>    
  </div>
</section>