<section class="p-5 vh-100">
  <div class="container">
    <div class="jumbotron">
      <h1 class="display-4">Thanks for your purchase.</h1>
      <hr class="my-4">
      <p class="lead">You had a successful purchase, plaese visit us again.</p>
      <p class="lead">
        <%= link_to "Back to Home", index_path, class: "btn btn-warning" %>
      </p>
    </div>    
  </div>
</section>