// Place all the styles related to the Carts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
.cart-show-image {
  display: block;
  width: 200px;
  height: 200px;
  object-fit: cover;
  border-radius: 5px;
}
