// Place all the styles related to the carts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
.image-shopping-cart {
  display: block;
  width: 150px;
  height: 150px;
  object-fit: cover;
}
