<footer class="footer bg-dark p-3">
  <div class="container">
    <p class="footer-text text-center text-light">Copyrights 2021 &copy;, <span class="text-warning">YourPlate</span></p>
  </div>
</footer>
