<footer class="footer-page mt-5 bg-orange">
  <div class="container">
    <p class="footer-text text-center text-light pt-3">Copyrights 2021 &copy;, <span class="text-dark">YourPlate</span></p>
  </div>
</footer>
