<footer class="footer-page mt-5 bg-dark">
  <div class="container">
    <p class="footer-text text-center text-light pt-3">Copyrights 2021 &copy;, <span class="text-warning">YourPlate</span></p>
  </div>
</footer>
