<section class="p-5 vh-100">
  <div class="container">
    <div class="jumbotron">
      <h1 class="display-4">About Us</h1>
      <p class="lead">In YourPlate we try to bring the tastiest food with cheapest price to your home, people will cook the meals with lots of love and dedication, which make it more delicious to have, most of our sellers using local ingredients, that will help the community to boost up the economy </p>
      <hr class="my-4">
      <p>In YourPlate you will never forget the taste of YourPlate</p>
      <p class="lead">
        <%= link_to "Back to Shopping", index_path, class: "btn btn-warning" %>
      </p>
    </div>    
  </div>
</section>