<section class="bg-dark text-light p-5 text-center text-sm-start">
  <div class="container">
    <div class="d-sm-flex align-items-center justify-content-between">
      <div>
        <h1>We give the best taste in <span class="text-warning">YourPlate</span></h1>
        <p class='lead my-4'>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Autem laudantium totam iste quas, ex quam!</p>
        <%= link_to "Explore YourPlate", index_path, class: 'btn btn-warning btn-lg'%>
      </div>
      <%= image_tag "salomon-with-special-suace.jpg", class: "img-fluid w-50 d-none d-sm-block"%>
    </div>
  </div>
</section>
    