<section class=" text-dark text-center p-5 text-sm-start bg-image mt-5">
  <div class="container">
    <div class="d-md-flex align-items-center justify-content-between pb-5">
      <div class="pb-5">
        <h1>We give the best taste in <span class="text-warning">YourPlate</span></h1>
        <p class='lead my-4'>In YourPlate you will never forget the taste of YourPlate</p>
        <%= link_to "Explore YourPlate", index_path, class: 'btn btn-warning btn-lg'%>
      </div>
      <%= image_tag "salomon-with-special-suace.jpg", class: "hero-image pb-5"%>
    </div>
  </div>
</section>