<h1>welcom to our home made meal</h1>

  <div class="row">
    <% @food_items.each do |food| %>
      <div class="col-md-4 my-4">
        <div class="card" style="width: 18rem;">
        <% if food.images.attached? %>
          <%= image_tag food.images.first, class: 'index-image' %>
        <% end %>
            <div class="card-body">
              <h5 class="card-title"><%= food.name %></h5>
              <%= link_to "View more", food_item_path(food),  class: "btn btn-primary" %>
            </div>
        </div>
      </div>
    <% end %>
  </div>


